<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>基本资料</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__STATIC__/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="__STATIC__/css/public.css" media="all">
    <link rel="stylesheet" href="__STATIC__/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>

<body>
    <div class="layuimini-container">
        <div class="layuimini-main">

            <form id="app-form" class="layui-form layuimini-form">
                <div class="layui-form-item head_img_box">
                    <label class="layui-form-label required">用户头像</label>
                    <div class="layui-input-block layuimini-upload">
                        <input name="head_img" class="layui-input layui-col-xs6" placeholder="请上传用户头像" value="{$row.head_img}">
                        <div class="layuimini-upload-btn">
                            <span><a class="layui-btn layui-btn-normal" id="test8"><i class="fa fa-list"></i>
                                    选择</a></span>
                            <span><a class="layui-btn" id="test9"><i class="fa fa-upload"></i> 上传</a></span>
                        </div>
                    </div>
                    <ul id="bing-head_img" class="layui-input-block layuimini-upload-show">
                        <li><a><img src="{$row.head_img}"></a><small class="uploads-delete-tip bg-red badge">×</small></li>
                    </ul>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label required">登录账户</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" class="layui-input" placeholder="请输入登录账户" value="{$row.username}">
                        <!-- <tip>填写登录账户。</tip> -->
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">用户手机</label>
                    <div class="layui-input-block">
                        <input type="text" name="phone" class="layui-input" placeholder="请输入用户手机"
                            value="{$row.phone}">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">用户邮箱</label>
                    <div class="layui-input-block">
                        <input type="text" name="email" class="layui-input" placeholder="请输入用户邮箱"
                            value="{$row.email}">
                    </div>
                </div>

                <div class="hr-line"></div>
                <div class="layui-form-item text-center">
                    <button class="layui-btn layui-btn-normal layui-btn-sm" lay-submit lay-filter="saveBtn">确认</button>
                    <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                </div>

            </form>

        </div>
    </div>
    <script src="__STATIC__/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script>
        layui.use(['form', 'layer', 'upload'], function () {
            var form = layui.form,
                layer = layui.layer,
                $ = layui.$,
                upload = layui.upload;

            //监听提交
            form.on('submit(saveBtn)', function (data) {
                $.post("{:url('system.admin/info')}", data.field, function (res) {
                    icon = res.code == 1 ? 1 : 2;
                    layer.msg(res.msg, { time: 1500, icon: icon }, function () {
                        if (res.code == 1) {
                            window.parent.location.reload();
                            index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        }
                    })
                })

                return false;
            });

            // 监听状态事件
            form.on('switch(status)', function (obj) {
                // console.log(obj);
                // layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
                var status = obj.elem.checked ? 1 : 0;
                $('[name="status"]').val(status);
            });

            upload.render({
                elem: '#test8'
                , url: '{:url(\'index/upload\')}' //此处配置你自己的上传接口即可
                , auto: false
                //,multiple: true
                , bindAction: '#test9'
                , done: function (res) {
                    // console.log(res);
                    var icon = res.code == 1 ? 1 : 2;
                    layer.msg(res.msg, { time: 1500, icon: icon }, function () {
                        if (res.code == 1) {
                            $('[name="head_img"]').val(res.data.url);
                            if(!$('#bing-head_img').html()){
                                $('.head_img_box').append('<ul id="bing-head_img" class="layui-input-block layuimini-upload-show"><li><a><img src="'+res.data.url+'"></a><small class="uploads-delete-tip bg-red badge">×</small></li></ul>');
                            }
                            $('#bing-head_img img').attr('src',res.data.url);
                        }
                    });
                }
            });

            $('.uploads-delete-tip').on('click',function(){
                $('#bing-head_img').remove();
                $('[name="head_img"]').val('');
            })

        });
    </script>
</body>

</html>