<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>有金额收款码编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__STATIC__/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="__STATIC__/css/public.css" media="all">
    <link rel="stylesheet" href="__STATIC__/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
</head>

<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <div class="layui-form layuimini-form">
                <input type="hidden" name="status" value="1">
                <input type="hidden" name="id" value="{$row.id}">
                <div class="layui-form-item">
                    <label class="layui-form-label required">所属通道</label>
                    <div class="layui-input-block">
                        <select name="pid" lay-verify="required" lay-search="">
                            <option value="">直接选择或搜索选择</option>
                            {foreach $passage as $v}
                            <option value="{$v.id}" {if $row.pid === $v.id}selected{/if}>通道id：{$v.id}，支付模式：{$v.type}，备注：{$v.remarks}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">固定金额</label>
                    <div class="layui-input-block">
                        <input type="text" name="money" lay-verify="required" placeholder="请输入固定金额" value="{$row.money}"
                            class="layui-input">
                        <!-- <tip>填写自己管理账号的名称。</tip> -->
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">收款码地址</label>
                    <div class="layui-input-block layuimini-upload">
                        <input name="ewm" class="layui-input layui-col-xs6" lay-verify="required" placeholder="请上传收款码" value="{$row.ewm}">
                        <div class="layuimini-upload-btn">
                            <span><a class="layui-btn layui-btn-normal" id="test8"><i class="fa fa-list"></i>
                                选择</a></span>
                            <span><a class="layui-btn" id="test9"><i class="fa fa-upload"></i> 上传</a></span>
                        </div>
                        <tip>如果遇到解码失败，请到<a href="https://cli.im/deqr/" target="_blank">https://cli.im/deqr/</a>，复制解码后的地址</tip>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">状态</label>
                    <div class="layui-input-block">
                        <input type="checkbox" lay-skin="switch" lay-text="开启|禁用" lay-filter="status" checked>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__STATIC__/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script>
        layui.use(['form','upload'], function () {
            var form = layui.form,
                layer = layui.layer,
                $ = layui.$,
                upload = layui.upload;

            //监听提交
            form.on('submit(saveBtn)', function (data) {
                $.post("{:url('system.qrcode/edit')}", data.field, function (res) {
                    icon = res.code == 1 ? 1 : 2;
                    layer.msg(res.msg, { time: 1500, icon: icon }, function () {
                        if (res.code == 1) {
                            window.parent.location.reload();
                            index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        }
                    })
                })

                return false;
            });

            // 监听状态事件
            form.on('switch(status)', function (obj) {
                // console.log(obj);
                // layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
                var status = obj.elem.checked ? 1 : 0;
                $('[name="status"]').val(status);
            });

            upload.render({
                elem: '#test8'
                , url: '{:url(\'index/upload\')}' //此处配置你自己的上传接口即可
                , auto: false
                //,multiple: true
                , bindAction: '#test9'
                , done: function (res) {
                    // console.log(res);
                    var icon = res.code == 1 ? 1 : 2;
                    layer.msg(res.msg, { time: 1500, icon: icon }, function () {
                        if (res.code == 1) {
                            $.post('{:url(\'index/detectBinary\')}',{'url': location.protocol+'//'+location.host+res.data.url},function(res){
                                if(res.status == 1){
                                    $('[name="ewm"]').val(res.data.qrcode_content);
                                }else{
                                    layer.msg('解码失败',{time: 1500,icon: 2});
                                }
                            },'json')
                        }
                    });
                }
            });
        });
    </script>
</body>

</html>